@page "/omforetaget"

<div class="container text-center">
  <div class="row content">
    <div class="col-sm-10 text-left">
      <h1>Om Böckernas Hus</h1>
      <p class="ingress">Det har tidigare funnits två ägare till antikvariatet i Tidan. Det startades år 1991 av Bo
        Björkdahl och år 2006 togs det över av Lars Angshed, år 2014 var det Peter Wadegårds tur att förvalta vad som
        numera kan kallas en klenod av många bokälskare i Sverige.</p>
      <h2>Bo Björkdal</h2>
      <figure>
        <img class="img-responsive" src="images/bjorkdal.jpg" alt="Personbild" title="Bo Björkdahl">
        <figcaption>Bo Björkdal i Böckernas Hus</figcaption>
      </figure>
      <p>Böckernas Hus startades av Bo Björkdal, Bo började sin karriär som bokhandlare redan på 60-talet då han var
        närmre 30 år gammal. Han har haft antikvariat i både Skövde och Varola innan han startade Böckernas Hus i Tidan.
      </p>
      <p>Bo hade ett antikvariat på Mariestadsvägen vid Trängen i Skövde när han tyckte att han skulle gå i pension. Han
        sålde då antikvariatet med löfte om att inte starta ett nytt antikvariat, men det höll bara i några få år innan
        han blev rastlös. Först öppnade han ett antikvariat i den gamla postlokalen i Tidan, men det dröjde inte länge
        innan det blev fullt. Då köpte han ett hus i Tidan och fyllde även det med böcker, det dröjde dock inte länge
        innan han var tvungen att få tag i ännu mer utrymme.</p>
      <p>En dag fick han se att lokalen till den gamla Konsumbutiken i Tidan var till salu, då såg han sin chans och
        slog till. Året var 1991 när han köpte lokalen som han döpte till Böckernas Hus.</p>

      <h2>Lars Angshed</h2>
      <figure>
        <img class="img-responsive" src="images/angshed.jpg" alt="Personbild" title="Lars Angshed">
        <figcaption>Lars Angshed i Böckernas Hus</figcaption>
      </figure>
      <p>Året var 2005 när Lars, som gammal kund till Böckernas Hus, började prata med Bo om möjligheten att köpa
        Böckernas Hus. Det fanns många som hade intresserat sig genom åren men Lars hade tur för Bo hade börjat känna av
        sina 80 levnadsår i kroppen och kände att det kanske var dags att släppa taget om butiken.</p>
      <p>År 2006 fick han köpa Böckernas Hus av Bo, som i sin tur pensionerade sig och flyttade till Mariestad. Det var
        Lars som började sälja böcker över internet. Bo hade dock även han sysslat med distanshandel, fast det var
        postorder som gällde då. Men precis som för Björkdal var distanshandeln bara ett komplement till
        butiksverksamheten, det var den sociala kontakten med kunderna som var det viktiga.</p>
      <p>Tyvärr varade det bara i några år för Lars som insjuknade i cancer år 2010 och avled i januari 2013, 62 år
        gammal, tätt följt av Bo Björkdals bortgång i mars 2013, 84 år gammal.</p>
      <h2>Peter Wadegård</h2>
      <figure>
        <img class="img-responsive" src="images/wadegard.jpg" alt="Personbild" title="Peter Wadegård">
        <figcaption>Peter Wadegård vid Böckernas Hus <a class="lankar" href="http://www.hobbyfoto.se"
            target="_blank">©Arnold Karlén</a></figcaption>
      </figure>
      <p>Peter köpte då antikvariatet från Lars son Daniel år 2014. Peter har varit en Tidanbo hela sitt liv och tycker
        det är roligt att kunna driva en butik vidare som är så central för Tidan och drar folk från hela Sverige och
        Norden på besök.</p>

    </div>


  </div>




</div>
<div class="push"></div>