@page "/bokborsen"

<div class="row content">
  <div class="col-sm-10 text-left">
    <h1>Bokbörsen</h1>
    <p>Vi har ca 5000 titlar utlagda på bokbörsen utspritt över en stor variation genrer av både skönlitteratur och
      facklitteratur såsom Astronomi, Biologi, Handarbete, Historia och mycket mer. </p>
    <p>Majoriteten av vår internetförsäljning sker på Bokbörsen, dock tar vi även emot beställningar och förfrågningar
      via telefon och e-post, kontaktuppgifterna hittas under länken <a class="lankar" href="kontakt.html"
        title="Kontaktformulär">Kontakt & Köpvillkor</a> i menyn.</p>


    <figure>
      <a href="http://www.bokborsen.se/?storeid=5160" target="_blank">
        <img class="img-responsive" src="images/bokborsen_small.jpg" alt="webpage"
          title="Butikens sida på bokbörsen"></a>
      <figcaption>Vår sida på bokbörsen.</figcaption>
    </figure>



    <h2>Att handla på Bokbörsen</h2>
    <p>När du handlar av oss på bokbörsen finns det några saker att tänka på:</p>
    <ul class="bokborseninfo">
      <li>När du gör en beställning kan det ta ett tag för oss att hitta boken och godkänna beställningen om vi är
        upptagna med annat för tillfället, så ha gärna lite tålamod med oss, det ska dock inte ta mer än en arbetsdag.
      </li>
      <li>Vi säljer mot förskottsbetalning om inget annat angetts och betalningsinformation skickas i samband med
        godkännande av beställningen.</li>
      <li>Boken skickas senast en dag efter att betalningen kommit oss tillhanda.</li>
      <li>Sist men inte minst, det finns väldigt många säljare på Bokbörsen, när du gör en beställning så dubbelkolla
        gärna vem det är du beställer ifrån.</li>
    </ul>
    <p>För att gå till vår säljsida kan du antingen klicka på bilden till höger eller klicka på länken: <a
        class="lankar" href="http://www.bokborsen.se/?storeid=5160" title="Bokbörsen" target="_blank">Bokbörsen.se</a>
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<div class="push"></div>