@page "/interior"

<div class="container text-center">
  <div class="row content">
    <div class="col-sm-10 text-left">
      <h1>Välkomna in till oss </h1>

      <figure>
        <a href="images/interior3_big.html" target="_blank">
          <img class="img-responsive" src="images/interior3_small.jpg" alt="Översikt i butiken"
            title="Butikens interiör">
        </a>
        <figcaption>Lokalen sett från ingången till butiken.</figcaption>
      </figure>

      <p>
        När Bo Björkdahl öppnade antikvariatet satsade han från början på att göra antikvariatet kundvänligt, genom att
        ta stora ytor i anspråk, vilket gör att man kan röra sig ledigt mellan de välfyllda hyllorna. Samtidigt som
        belysningen är anpassad så att det ska kunna vara läsvänligt var än i antikvariatet man befinner sig.
      </p>
      <p>Det är anpassat så att man ska kunna röra sig smidigt med rullstol eller rullator. Det finns även gott om
        stolar utställda i lokalen så att man i lugn och ro kan sitta och läsa några stycken ur en bok innan man
        bestämmer sig för ett köp.</p>

    </div>
    <div class="col-sm-10 text-left">
      <figure class="vansterbild">
        <a href="images/interior2_big.html" target="_blank">
          <img class="img-responsive" src="images/interior2_small.jpg" alt="Läshörnan" title="Läshörnan">
        </a>
        <figcaption>Läshörnan i butiken.</figcaption>
      </figure>

      <h2>Läshörnan</h2>
      <p>Det finns en speciell läshörna där både barn och vuxna kan slå sig ner för att i lugn och ro titta i de böcker
        som är intressanta. Antikvariatet har ett brett allmänt urval som skönlitteratur, kulturhistoria, topografi,
        svenskt folkliv, historia, språk, naturvetenskap, barnböcker med mera. Sätt dig en stund och begruda om det var
        just den boken du sökte. </p>
    </div>
  </div>
</div>
<div class="push"></div>